/* Styles for menu component */

.Menu {
    width: 15rem;
    height: calc(100% - 5rem - 2px);
    border: none;
    border-left: 2px solid #888;
    outline: none;
    background-color: #fff;
    /* position */
    position: fixed;
    right: 0;
    bottom: 0;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe;
    /* animation */
    /* משך ההנפשה הוא 0.3 שניות, והמצב הסופי נשמר באמצעות מצב הנפשה-מילוי: קדימה. */
    animation-name: menu_slideIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

/*כל כפתור ברשימת הכפתורים. */
.Menu .btns-list {
    margin-top: 2rem;
    width: 100%;
    height: max-content;
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.Menu .btns-list .btn-delete-user,
.Menu .btns-list .btn-change-interesets,
.Menu .btns-list .btn-change-pwd,
.Menu .btns-list .btn-manage-users {
    width: 100%;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    cursor: pointer;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* מחילה סגנונות על הכפתורים כאשר הם מרחפים. */
.Menu .btns-list .btn-delete-user:hover,
.Menu .btns-list .btn-change-interesets:hover,
.Menu .btns-list .btn-change-pwd:hover,
.Menu .btns-list .btn-manage-users:hover {
    background-color: #ddd;
}

/* מחלקה זו ממקדת את הכפתור האחרון ברשימה ומסירה את הגבול התחתון כדי למנוע גבול מתחת ללחצן האחרון. */
.Menu .btns-list .btn-delete-user:last-of-type,
.Menu .btns-list .btn-change-interesets:last-of-type,
.Menu .btns-list .btn-change-pwd:last-of-type,
.Menu .btns-list .btn-manage-users:last-of-type {
    border-bottom: none;
}
/* מחלקה זו מתמקדת בסמלי SVG (אם קיימים) בתוך הכפתורים. */
.Menu .btns-list .btn-delete-user svg,
.Menu .btns-list .btn-change-interesets svg,
.Menu .btns-list .btn-change-pwd svg,
.Menu .btns-list .btn-manage-users svg {
    margin-left: 0.6rem;
}

/* keyframes */
/*מייצג את מצב ההתחלה והסיום של האנימציה, בהתאמה. */
@keyframes menu_slideIn {
    from {
        opacity: 0;
        translate: 100% 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
